.app.dark {
    --bg-color: #090949; /* цвет заднего фона */
    --inverted-bg-color: #e8e8ea; /* цвет для NavBar */
    --primary-color: #049604; /* главный цвет  - цвет шрифта для ссылок, кнопок и заголовок */
    --secondary-color: #04ff04; /* дополнительный цвет - цвет для основного текста */
    --inveted-primary-color: #0232c2;
    --inveted-secondary-color: #0449e0;
}
