:root {
    --bg-color: #e8e8ea; /* цвет заднего фона */
    --inverted-bg-color: #090949; /* цвет для NavBar */
    --primary-color: #041c65; /* главный цвет  - цвет шрифта для ссылок, кнопок и заголовок */
    --secondary-color: #0449e0; /* дополнительный цвет - цвет для основного текста */
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
